<!DOCTYPE html>
<html>
<head>
  <title>Inbox</title>
</head>
<body>
  <h1>Inbox for localuser@example.com</h1>
  <% if (emails.length === 0) { %>
    <p>No emails yet.</p>
  <% } else { %>
    <% emails.forEach(email => { %>
        <div class="email-card">
            <h3>From: <%= email.from.email %></h3>
            <h4>To: <%= email.to.email %></h4>
            <p><strong>Subject:</strong> <%= email.subject %></p>
            <p><%= email.body %></p>
            <hr/>
        </div>
    <% }) %>
  <% } %>
  <br>
  <a href="/compose">Compose Email</a>
</body>
</html>
