<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <nav>
    <a href="/compose">Compose</a>
    <a href="/inbox">Inbox</a>
    <a href="/sent">Sent</a>
    <a href="/drafts">Drafts</a>
    <a href="/starred">Starred</a>
    <a href="/logout">Logout</a>
  </nav>
  <hr>
  <%- body %>
</body>
</html>
