<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NavBus Login</title>
    <link rel="stylesheet" href="style.css">
    
</head>

<body>
    
    <div class="container">
        <div class="logo">
            <h1>AtomMail</h1>
        </div>
        
        <div class="tab-container">
            <div class="tab active" data-tab="login">Sign In</div>
        </div>
        
        <div class="tab-content active" id="loginTab">
            <form id="loginForm" action="/login" method="post">
                <div class="input-group">
                    <input type="email" id="email" name="email" placeholder="email" required>
                </div>
                
                <div class="input-group">
                    <input type="password" id="password" name="password" placeholder="Password" required>
                    <div class="toggle-password" id="togglePassword">👁️</div>
                </div>
                
                <button type="submit" class="btn" id="loginBtn">Sign In</button>
            </form>
                <br>
            
           <a id="sin" href="/">New User? Sign In</a>
        </div>
    </div>
    <script type="text/javascript" src="function.js"></script>
</body>
</html>